{
	"$schema": "https://json.schemastore.org/prettierrc",
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 120,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"semi": true
}
